#popUpBox{
	-fx-background-color:  #424242;
}

#wrongPasswordLabel {
	-fx-background-color:  #424242;
	-fx-text-fill: RED;
}

#passwordInputField {
	-fx-background-color: #717988;
	-fx-text-fill: WHITE;
}

#joinButton {
	-fx-background-color: #156EAD;
	-fx-text-fill: white;
}