#anchorPane{
    -fx-background-color:  #495766;
}

#root{
    -fx-background-color:  #495766;
}

#messageVBox{
    -fx-background-color:  #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

#rules{
    -fx-fill: rgb(255, 255, 255);
}

#upRectangle{
    -fx-fill: #495766;
}

#downRectangle{
    -fx-fill: #495766;
}

.text-field {
    -fx-background-color: #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

.grid{
    -fx-background-color:  #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

.vBox{
    -fx-background-color:  #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

