#root{
    -fx-background-color:  #424242;
}

#UsernameLabel{
    -fx-background-color: #424242;
    -fx-text-fill: rgb(255, 255, 255);
}


#UsersVBox{
    -fx-background-color: #717988;
}

#gameScrollPane {
    -fx-background-color: #717988;
}

#gameBoxRoot {
    -fx-background-color: #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

#listViewGames {
    -fx-background-color: #717988;
}

#creationTime {
    -fx-background-color: #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

#title {
    -fx-background-color: #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

#memberCount{
    -fx-background-color: #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

#NameLabel{
    -fx-text-fill: rgb(255, 255, 255);;
}

.button {
    -fx-background-color: #156EAD;
    -fx-text-fill: white;
}


