#messageVBox{
    -fx-background-color:  #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

#sendMessageField{
    -fx-background-color:  #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

#roadFrame {
    -fx-background-color:  #424242;
}

#settlementFrame {
    -fx-background-color:  #424242;
}

#cityFrame {
    -fx-background-color:  #424242;
}

#turnPane {
    -fx-background-color:  #424242;
}

#timeLabel {
    -fx-background-color:  #424242;
    -fx-text-fill: WHITE;
}

#currentSituationLabel{
    -fx-background-color:  #424242;
    -fx-text-fill: WHITE;
}

#situationLabel {
    -fx-background-color:  #424242;
    -fx-text-fill: WHITE;
}

#upRectangle{
    -fx-fill: #424242;
}

#downRectangle{
    -fx-fill: #424242;
}

#cityCountLabel{
    -fx-background-color:  #424242;
    -fx-text-fill: WHITE;
}

#houseCountLabel{
    -fx-background-color:  #424242;
    -fx-text-fill: WHITE;
}

#streetCountLabel{
    -fx-background-color:  #424242;
    -fx-text-fill: WHITE;
}
