#usernameLabel{
    -fx-fill: WHITE;
}

#usernameStatusText {
    -fx-fill: RED;

}

#newPasswordStatusText {
    -fx-fill: RED;
}

#oldPasswordStatusText {
    -fx-fill: RED;
}

#avatarStatusText {
    -fx-fill: RED;
}