#root{
    -fx-background-color:  #424242;
}

#messageVBox{
    -fx-background-color:  #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

#upRectangle{
    -fx-fill: #424242;
}

#downRectangle{
    -fx-fill: #424242;
}



