#currentUsernameText {
    -fx-fill: BLACK;
}

#ChangeAvatarText{
    -fx-fill: BLACK;
}

#usernameLabel{
    -fx-fill: BLACK;
}

#usernameStatusText {
    -fx-fill: RED;

}

#newPasswordStatusText {
    -fx-fill: RED;
}

#oldPasswordStatusText {
    -fx-fill: RED;
}

#avatarStatusText {
    -fx-fill: RED;
}