#root{
    -fx-background-color:  #424242;
}

.text-field {
    -fx-background-color: #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

.button {
    -fx-background-color: #156EAD;
    -fx-text-fill: white;
}

.radio-button{
    -fx-text-fill: white;
}

.choice-box .label {
    -fx-text-fill: BLACK;
}

.label{
    -fx-text-fill: rgb(255, 255, 255);
}

.scroll-pane{
    -fx-background-color: #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

.tab-pane {
    -fx-background-color: #717988;
    -fx-text-fill: rgb(255, 255, 255);
}

.list-view {
    -fx-background-color: #717988;
}

.list-view .list-cell:even {
    -fx-background-color: #717988;
}
.list-view .list-cell:odd {
    -fx-background-color: #717988;
}

.thumb{
    -fx-background-color: #a6a6a6;
}

.track, .increment-button, .decrement-button, .corner, .increment-arrow, .decrement-arrow{
    -fx-background-color: #717988;
}

.scroll-pane {
    -fx-background-color: #717988;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}