#popUpBox{
	-fx-background-color:  #F5F5F5;
}

#wrongPasswordLabel {
	-fx-background-color: #F5F5F5;
	-fx-text-fill: RED;
}

#passwordInputField {
	-fx-background-color: #ffffff;
	-fx-text-fill: black;
}

#joinButton {
	-fx-background-color: #156EAD;
	-fx-text-fill: white;
}