#root{
    -fx-background-color:  #F5F5F5;
}

#UsernameLabel{
    -fx-background-color: #F5F5F5;
    -fx-text-fill: black;
}

#gameBoxRoot {
    -fx-background-color: #F5F5F5;
    -fx-text-fill: black;
}

.button {
    -fx-background-color: #156EAD;
    -fx-text-fill: white;
}

