#root{
    -fx-background-color:  #F5F5F5;
}

#UsernameLabel{
    -fx-background-color: #F5F5F5;
    -fx-text-fill: black;
}

#gameBoxRoot {
    -fx-background-color: #F5F5F5;
    -fx-text-fill: black;
}

#EditProfileButton {
    -fx-background-color: #156EAD;
    -fx-text-fill: white;
}

#LogoutButton {
    -fx-background-color: #156EAD;
    -fx-text-fill: white;
}

#NewGameButton {
    -fx-background-color: #156EAD;
    -fx-text-fill: white;
}