.button {
    -fx-background-color: #156EAD;
    -fx-text-fill: white;
}

#mapPreviewPane {
    -fx-border-radius: 2%;
    -fx-background-radius: 3%;
    -fx-border-width: 4px;
    -fx-border-color: #006666;
}