#anchorPane{
	-fx-background-color:  #F5F5F5;
}

.label{
	-fx-text-fill: rgb(0, 0, 0);
}

.radio-button{
	-fx-text-fill: rgb(0, 0, 0);
}

.button {
	-fx-background-color: #156EAD;
	-fx-text-fill: white;
}